@* @page "/causas"
@using G1Emergency2025.Shared.DTO
@inject HttpClient Http

<h3>Causas</h3>

@if (causas == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <ul>
        @foreach (var c in causas)
        {
            <li>@c.Codigo - @c.posibleCausa - @c.Observacion</li>
        }
    </ul>
}

@code {
    private List<CausaDTO>? causas;

    protected override async Task OnInitializedAsync()
    {
        causas = await Http.GetFromJsonAsync<List<CausaDTO>>("api/causa");
    }
} *@
@page "/diagPresuntivos"
@using G1Emergency2025.BD.Datos.Entity
@using G1Emergency2025.Shared.DTO
@inject HttpClient Http

<h3>DiagPresuntivos</h3>

@if (diagPresuntivos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <ul>
        @foreach (var d in diagPresuntivos)
        {
            <li>@d.Id - @d.PosDiagnostico - PacienteId: @d.PacienteId</li>
        }
    </ul>
}

@code {
    private List<DiagPresuntivo>? diagPresuntivos;

    protected override async Task OnInitializedAsync()
    {
        diagPresuntivos = await Http.GetFromJsonAsync<List<DiagPresuntivo>>("api/DiagPresuntivo");
    }
}


